
*{
	margin: 0;
	padding: 0;
}

section {
	padding: 50px 0;
}

/* classes auxiliares */
.container{
	max-width: 1280px;
	margin: 0 auto;
	padding:0 2%;
}

.center{
    text-align: center
}

.title {
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 20px;
}

/* header */
.menu-header {
	display: flex;
	justify-content: space-between;
}

.menu-desktop ul {
	padding-top: 15px;
	font-size: 16px;
}

.menu-desktop li {
	display: inline;
	padding: 0 10px;
}

.menu-desktop a {
	text-decoration: none;
	color: black;
}

.logo img{
	width: 300px;
}

/* section main */

section#main-bg {
	background-image: url("../img/main-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 700px;
	position: relative;
	/* padding: 140px 0; */
}

.overlay-main {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	
	top: 0; left: 0;
}

.texto-main {
	position: relative;
	top: 300px; left: 0;
	color: white;
	font-size: 30px;
	justify-content: center;
	line-height: 50px;
}

/* Section history */

.history-right {
	display: flex;
	justify-content: flex-end;
	padding: 100px 0;
}

.history-left {
	display: flex;
}

.circle-img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.p-history {
	padding: 80px 90px 0 90px;	
	text-align: justify;
}

/* section video */

section#video {
	color: white;
	background-color: black;
}

/* section books  */

.flex-books {
	display: flex;
	justify-content: space-evenly;
}

.single-book img{
	width: 200px;
	height: 300px;
}

/* Footer */
footer#footer {
	padding: 100px 0;
	background-color: brown;
}
.flex-footer {
	display: flex;
}

.about-martin {
	display: flex;
}

.about-martin img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	
}

.about-martin p {
	text-align: left;
	margin: 30px 300px 0 20px;
	padding: 0 30px;
}

.social-icons {
	display: flex;
	justify-content: space-between;
	margin-right: 150px;
}

.social-icons img {
	width: 30px;
	padding: 30px 10px;
}


