
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Gothic A1', sans-serif;
}
section {
	padding: 50px 0;
}

/* classes auxiliares */
.container{
	max-width: 1280px;
	margin: 0 auto;
	padding:0 2%;
}

.center{
    text-align: center
}

.title {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 100px;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 2px;
}

/* header */
.menu-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-desktop ul {
	/* padding-top: 22px; */
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bolder;
}

.menu-desktop li {
	display: inline;
	padding: 0 10px;
}

.menu-desktop a {
	text-decoration: none;
	color: black;
	
}

.menu-mobile {
	display: none;
}

.menu-mobile ul {
	display: none;
	width: 100%;
	background-color: white;
	position: absolute;
    left: 0;
    top: 45px;
    z-index: 999;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}

.menu-mobile li {
	list-style-type: none;
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid black;
}

.menu-mobile a {
	text-decoration: none;
	color: black;
}

.logo img{
	width: 200px;
}

/* section main */

section#main-bg {
	background-image: url("../img/main-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 700px;
	position: relative;
	/* padding: 140px 0; */
}

.overlay-main {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0; left: 0;
}

.text-main {
	position: relative;
	top: 200px; left: 0;
	color: #B19856;
	font-size: 40px;
	justify-content: center;
	line-height: 45px;
	font-family: 'Abril Fatface', cursive;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: justify;
	text-shadow: 5px 5px 5px rbga(0,0,0,0.1);
}

/* Section history */

.history-right {
	display: flex;
	justify-content: flex-end;
	padding: 100px 0;
	position: relative;
}

.history-text-r {
	position: absolute;
	top: 100px;right: 300px;
	text-transform: uppercase;
	color: #B19856;
} 

.history-left {
	display: flex;
	position: relative;
}

.history-text-l {
	position: absolute;
	top: 0; left: 300px;
	text-transform: uppercase;
	color: #B19856;
} 

.circle-img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid #A30245;
}

.p-history {
	padding: 80px 90px 0 90px;	
	text-align: justify;
}

/* section video */

section#video {
	color: white;
	background-color:#A30245;
	padding: 100px 0;
}

.video-youtube{
	width: 960px;
	height: 545px;
}

/* section books  */

.flex-books {
	display: flex;
	justify-content: space-evenly;
}

.single-book img{
	width: 250px;
	height: 400px;
}


.book-name h3{
	margin: 15px 0 2px 0;
	font-size: 18px;
}

.book-name p{
	font-size: 12px;
}

/* Footer */
footer#footer {
	padding: 100px 0;
	background-color: #A30245;
	color: white;
}
.flex-footer {
	display: flex;
}

.about-martin {
	display: flex;
}

.about-martin img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	
}

.about-martin p {
	text-align: left;
	margin: 30px 300px 0 20px;
	padding: 0 30px;
}

.social-icons {
	display: flex;
	justify-content: space-between;
	margin-right: 150px;
}

.social-icons img {
	width: 50px;
	padding: 30px 5px;
}

@media screen and (max-width: 700px){
	.menu-desktop {
		display: none;
	}	

	.menu-mobile {
		display: block;
	}

	.text-main {
		top: 70px;
		font-size: 30px;
		line-height: 35px;
	}	

	.video-youtube{
		width: 320px;
		height: 280px;
	}

	.flex-books {
		display: block;
	}

	.single-book img{
		margin-top: 30px;
	}
}